/* =================global style ==============*/
* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =================/global style ==============*/
/* ================= tag style================== */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background: #fff;
}
button {
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: inline-block;
}
ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
/* =============/tag style================== */
/* =================event===================*/

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.address-info-link:hover,
.address-info-link:focus {
  color: #404bbf;
}
.title-btn:hover,
.title-btn:focus {
  background-color: #404bbf;
}

/* ============= header================== */
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.page-nav {
  align-items: center;
  display: flex;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
.page-header .container {
  justify-content: space-between;
}
.logo-header-color {
  color: #2e2f42;
}
.menu-list {
  gap: 40px;
  margin-right: 40px;
  margin-right: 0;
  display: flex;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.adr-list {
  gap: 40px;
  display: flex;
}
.address-info {
  justify-content: center;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-info-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =============/header================== */
/* ============= first-section================ */
.first-section {
  background: #2e2f42;
  align-items: center;
  margin: auto;
  padding: 188px 0;
}
.first-section .container {
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.main-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.title-btn {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.btn-text {
  color: #ffffff;
}
/* =============/first-section================ */
/* ============= bnf-section================  */
.benefits {
  padding: 120px 0;
}
.benefits .list {
  gap: 24px;
}
.benefits .item {
  flex-direction: column;
  width: calc((100% - 3 * 24px) / 4);
}
.benefits .title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
/* =============/bnf-section================  */
/* ============= team-section================  */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team .title {
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team .list {
  background-color: #ffffff;
  gap: 24px;
}
.team .item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team .description {
  padding: 32px 0;
}
.team .list .title {
  text-align: center;
  margin-bottom: 8px;
}
.team .text {
  text-align: center;
  color: #434455;
}
/* =============/team-section================  */

/* ============= portfolio-section================  */
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio .title {
  margin-bottom: 72px;
}
.portfolio .list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio .item {
  width: calc((100% - 48px) / 3);
}
.portfolio .description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio .item .title {
  margin-bottom: 8px;
  text-align: start;
}
/* =============/portfolio-section================  */
/* ================ footer==================== */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.logo-span {
  color: #f4f4fd;
}

.footer .text {
  max-width: 264px;
  color: #f4f4fd;
}
/* ================/footer==================== */
