* {
  padding: 0;
  margin: 0;
}
:focus-visible {
  outline: none;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
ul {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
textarea {
  resize: none;
}
a,
button,
:hover,
:focus {
  transition-duration: 250ms;
  transition-property: color, background-color, fill, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
}
h1.title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}
h2.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
h3.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo span.light {
  color: #2e2f42;
}
.logo span.dark {
  color: #f4f4fd;
}
.text-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.text-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  max-width: fit-content;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus,
.button:hover {
  background-color: #404bbf;
}
.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
.link:focus,
.link:hover {
  color: #404bbf;
}
.our-team {
  background: #f4f4fd;
}
.item {
  background: #fff;
}
.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section:not(.hero) {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*!header*/
.fixed-header {
  padding-top: 72px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  z-index: 999;
}
.header .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.contacts {
  font-style: normal;
}
.contacts .link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .link:focus,
.contacts .link:hover {
  color: #404bbf;
}
/*!nav*/
.nav,
.nav ul {
  flex-direction: row;
}
.nav .menu-item {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .menu-item:focus,
.nav .menu-item:hover,
.nav .menu-item.active {
  color: #404bbf;
}

.nav .menu-item.active:after {
  display: block;
  position: absolute;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
}
/*!hero*/
.hero {
  display: flex;
  background: no-repeat #2e2f42;
  justify-content: center;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-bg-full.jpg');
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: auto;
}
.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
/*!benefits*/
.benefits .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.benefits .item {
  display: flex;
  width: calc((100% - 72px) / 4);
  flex-direction: column;
}
.benefits .item .title {
  margin-bottom: 8px;
}
.benefits .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.benefits .icon-box .icon {
  fill: #2e2f42;
}
/*!our-team*/
.our-team .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.our-team .item {
  width: calc((100% - 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team .item .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
.our-team .item .title {
  margin-bottom: 8px;
}
.our-team .item .description {
  text-align: center;
  margin-bottom: 8px;
}
.our-team-content-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.our-team-content-list-item .item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-content-list-item .item-link:hover,
.our-team-content-list-item .item-link:focus {
  background-color: #404bbf;
}
.our-team-content-list-item .icon {
  fill: #f4f4fd;
}
/*!our-portfolio*/
.our-portfolio .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.our-portfolio .item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio .item:hover,
.our-portfolio .item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio .item .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio .item:hover .content,
.our-portfolio .item:focus .content {
  border-color: #f4f4fd;
}
.our-portfolio .item .title {
  margin-bottom: 8px;
}
.our-portfolio .item .overlay-box {
  position: relative;
  overflow: hidden;
}
.our-portfolio .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3f51b5;
  color: #f4f4fd;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio .item:hover .overlay,
.our-portfolio .item:focus .overlay {
  transform: translateY(0);
}
/*!footer*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .content {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .description {
  color: #f4f4fd;
  max-width: 264px;
}
.footer-box {
  margin-right: 120px;
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
}
.footer-socials {
  margin-right: 80px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-list-item .item-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-list-item .item-link:hover,
.footer-socials-list-item .item-link:focus {
  background-color: #31d0aa;
}
.footer-socials-list-item .icon {
  fill: #f4f4fd;
}

.footer-form .form {
  display: flex;
  gap: 24px;
}
.footer-form .form-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form .form-input:focus {
  border-color: #4d5ae5;
}
.footer-form .form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form .form-btn {
  display: flex;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form .form-btn:hover,
.footer-form .form-btn:focus {
  background-color: #404bbf;
}
.footer-form .form-btn .icon {
  fill: #fff;
  margin-left: 16px;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
}
.modal .modal-box {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  flex-direction: column;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: #e7e9fc;
  border: 1px solid rgba(0 0 0 / 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .close:hover,
.modal .close:focus {
  border: none;
  background-color: #404bbf;
}
.modal .close .icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .close:hover .icon,
.modal .close:focus .icon {
  fill: #fff;
}
.modal-title {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-form .form-item:nth-child(4) {
  margin-bottom: 16px;
}
.modal-form .form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form .input-group {
  position: relative;
}
.modal-form .form-input {
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .form-input:focus {
  border-color: #4d5ae5;
}
.modal-form .form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form .form-input + .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .form-input:focus + .icon {
  fill: #4d5ae5;
}
.modal-form textarea.form-input {
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  padding-left: 16px;
  height: 120px;
}
.modal-form textarea.form-input::placeholder {
  line-height: 1.17;
}
.modal-form .form-acceptance {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-form .form-acceptance-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form .pseudo-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .form-checkbox:checked + .form-acceptance-text .pseudo-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form .form-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-form .form-btn {
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin: auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .form-btn:hover,
.modal-form .form-btn:focus {
  background-color: #404bbf;
}

/*!*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-left {
  text-align: left;
}

/*!*/
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

/*!*/
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
